<div class="page-header">
	<h1>Favorites</h1>
</div>

<table class="table table-bordered" id="user_favorites_table">
	<thead>
		<tr>
			<th>Stop</th>
			<th>Route</th>
			<th>Display Times</th>
			<th>Remove</th>
		</tr>
	</thead>
	<tbody>
		<% @favorites.each do |fav| %>
			<tr>
				<td><%= fav.stop_time.stop.full_name %></td>
				<td><%= fav.stop_time.route.full_name %></td>
				<td></td>
				<td></td>
			</tr>
		<% end %>
	</tbody>
</table>