<div class="page-header">
	<h1>About</h1>
</div>
<div class="row">
	<div class="span8">
		<h2>What is this?</h2>
		<p>This application uses OC Transpo API to get real-time data for bus routes and stops. Most of the applications built with this API show only one route at a time. The idea behind this application was to create a web application that can get results for multiple routes on the same page and display them on the same map for better visualization and comparison. Registered users can add routes as favorites and access them easily while selecting stops. Also users can access their history which shows the user's last 10 requests.</p>
		<h2>Who and Why?</h2>
		<p>This application is developed with Ruby on Rails by <%= link_to "Berk Caputcu", "http://www.berkcaputcu.com/" %>. I developed this application to learn more about Ruby on Rails and to make it easier for me to decide which stop to walk before I leave home. Most of the time I find myself checking live updates for 2 or 3 nearby stops. However selecting these stops individually and comparing them is not very efficient and accurate with currently available applications. That's why I created an application that displays live-data from multiple routes on the same map.</p>
		<h2>What is used?</h2>
		<dl>
			<dt>Ruby on Rails</dt>
			<dd>General framework</dd>
			<dt>OC Transpo API</dt>
			<dd>For live-data</dd>
			<dt>Nokogiri</dt>
			<dd>XML parser</dd>
			<dt>Devise</dt>
			<dd>Authentication</dd>
			<dt>Twitter Bootstrap</dt>
			<dd>CSS template</dd>
			<dt>Google Maps</dt>
			<dd>Maps</dd>
			<dt>Heroku</dt>
			<dd>Deployment</dd>
			<dt>New Relic</dt>
			<dd>Monitoring</dd>
			<dt>MemCachier</dt>
			<dd>Caching</dd>
		</dl>
		<br>
		<p>This is an open-source project, feel free to contribute. Code available on <%= link_to 'GitHub', 'https://github.com/bcaputcu/octranspo_bus_stops' %>. Please use this link to post bugs, wanted features etc.</p>
	</div>
</div>