<div class="tab-pane" id="favoritesTab">
	<div class="span8" style="height:414px;">
		<table class="table table-bordered" id="user_favorites_table">
			<thead>
				<tr>
					<th></th>
					<th>Stop</th>
					<th>Route</th>
				</tr>
			</thead>
			<tbody>
				<% current_user.favorites.each do |fav| %>
				<tr>
					<td style="width: 36px;"><%= button_tag "<i class='icon-plus'></i>".html_safe, class: "btn btn-small", onclick: "addFromList(#{fav.stop.id}, #{fav.route.id});", title: "Add to list" %></td>
					<td><%= fav.stop.full_name %></td>
					<td><%= fav.route.full_name %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>