<%= gmaps4rails(@json) %>

<h1>VS</h1>
<table>
	<tr>
		<td>Route</td>
		<td>1st Bus</td>
		<td>2nd Bus</td>
		<td>3rd Bus</td>
	</tr>
	<% @stop_times.each do |st| %>
	<tr>
		<td><%= st.route.no %></td>
		<% st.adjusted_times.each do |at| %>
		<td><%= at.time_left %><%= "*" if at.scheduled? %></td>
		<% end %>
	</tr>
	<% end %>
</table>

# add boolean for gps data or not <br>
# improve stop_time with relationship <br>
# auto refresh